.grid {
	position:absolute;	
  	width: 98%;  
  	margin-left:10px;
  	height:250px; 	
  	  
}

.button{
   	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
    bottom: 5%;
    text-align: center;
    margin-top: 15px;
    height:30px;
    
     
}


